@model Cajas_SqlServer_Login.Areas.caja.Models.t_caja

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>t_caja</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_registro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_registro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_cierre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_cierre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.anio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.anio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rtipocaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rtipocaja.nombre)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idtcaja" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Caja">Back to List</a>
    </form>
</div>
